body {
    background-attachment: fixed;
    background-color: black;
    background-image: url('https://www.lineage2.com/images/global/bg-footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    color: whitesmoke;
    margin: auto;
    text-align: center;
}

/*.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {*/
/*    border: 1px dotted greenyellow;*/
/*}*/


.carousel .carousel-caption {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0.25em;
}
