<div class="carousel-item">
    <img src="https://www.lineage2.com/images/desktop/races/character_dark.png"
         class="d-block w-100"
         alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>Dark Elves</h5>
        <p>
            Dark Elves were once part of the Elven tribes, but were banished
            after they learned black magic in order to obtain the power to
            fight Humans.
        </p>
    </div>
</div>
