<div class="carousel-item">
    <img src="https://www.lineage2.com/images/desktop/races/character_dwarf.png"
         class="d-block w-100"
         alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>Dwarf</h5>
        <p>
            Dwarves are of the race of earth. They excel at crafting, resource
            gathering, and heavy combat. Their prowess and great physical
            strength allows them to take on multiple enemies at once.
        </p>
    </div>
</div>
