<div class="carousel-item">
    <img src="https://www.lineage2.com/images/desktop/races/character_elf.png"
         class="d-block w-100"
         alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>Elf</h5>
        <p>
            Elves were born of water, making them fluid, agile, and
            infused with good magic. Deeply in tune with the forces of
            nature, they worship Eva, the second Goddess of Water.
            Elves excel at beneficial magic, archery, and singing above
            all.
        </p>
    </div>
</div>
