<div class="carousel-item">
    <img src="https://www.lineage2.com/images/desktop/races/character_ertheia.png"
         class="d-block w-100"
         alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>Ertheia</h5>
        <p>
            Brought to life through Einhasad's hands and Sayha's breath, the
            Ertheia are talented Mana users. Naturally curious, they stay true
            to their heritage as Sayha's children by exhibiting dexterity and a
            freedom in spirit.
        </p>
    </div>
</div>
