<div class="carousel-item active">
    <img src="https://www.lineage2.com/images/desktop/races/character_human.png"
         class="d-block w-100"
         alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>Humans</h5>
        <p>
            Humans are the most diverse and capable of all the races.
            They have the most balanced stats and the largest selection
            of available classes. Although Humans were created by Gran
            Kain, they worship Einhasad, the Goddess of Light.
        </p>
    </div>
</div>
