<div class="carousel-item">
    <img src="https://www.lineage2.com/images/desktop/races/character_kamael.png"
         class="d-block w-100"
         alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>Kamael</h5>
        <p>
            Kamael were created by the Giants as living combat weapons.
            Depending on their gender and their specialization in soul magic,
            Kamael are the only Fighter race that can later become a Wizard.
        </p>
    </div>
</div>
