<div class="carousel-item">
    <img src="https://www.lineage2.com/images/desktop/races/character_orc.png"
         class="d-block w-100"
         alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>Orc</h5>
        <p>
            The Orc race is the race of fire. Among all races, Orcs possess the
            greatest physical strength, with high maximum HP and MP levels but
            have slow movement, attack, and casting speeds.
        </p>
    </div>
</div>
