<footer>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <p>
                    <a href="https://www.lineage2.com/" target="_blank">
                        <figure class="figure">
                            <img src="https://www.lineage2.com/images/global/l2_logo-large-footer.png"
                                 class="img-fluid"
                                 alt="L2JServer">
                        </figure>
                    </a>
                </p>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</footer>
