<header>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div id="carousel"
                     class="carousel slide carousel-fade"
                     data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel"
                            data-slide-to="0"
                            class="active"></li>
                        <li data-target="#carousel"
                            data-slide-to="1"></li>
                        <li data-target="#carousel"
                            data-slide-to="2"></li>
                        <li data-target="#carousel"
                            data-slide-to="3"></li>
                        <li data-target="#carousel"
                            data-slide-to="4"></li>
                        <li data-target="#carousel"
                            data-slide-to="5"></li>
                        <li data-target="#carousel"
                            data-slide-to="6"></li>
                    </ol>
                    <div class="carousel-inner">
                        {% include 'core/races/human.html' %}
                        {% include 'core/races/elven.html' %}
                        {% include 'core/races/darkelf.html' %}
                        {% include 'core/races/orc.html' %}
                        {% include 'core/races/dwarf.html' %}
                        {% include 'core/races/kamael.html' %}
                        {% include 'core/races/ertheia.html' %}
                    </div>
                    <a class="carousel-control-prev"
                       href="#carousel"
                       role="button"
                       data-slide="prev">
        <span class="carousel-control-prev-icon"
              aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next"
                       href="#carousel"
                       role="button"
                       data-slide="next">
        <span class="carousel-control-next-icon"
              aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</header>
