{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    {% include 'core/_style.html' %}
    <title>{% block title %}L2JServer API{% endblock %}</title>
</head>
<body>
    {% include 'core/_nav.html' %}

    {% include 'core/_header.html' %}

    {% include 'core/_content.html' %}

    {% include 'core/_footer.html' %}

    {% include 'core/_scripts.html' %}
</body>
</html>
