{% load static %}
<nav>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                <a href="https://www.l2jserver.com/"
                   target="_blank">
                    <figure class="figure">
                        <img src="{% static 'core/img/l2jserver.png' %}"
                             class="img-fluid"
                             alt="L2JServer">
                    </figure>
                </a>
            </div>
            <div class="col-5">
                <a href="https://gitlab.com/Yeiij/l2j_server_api"
                   target="_blank">
                    <figure class="figure">
                        <img src="{% static 'core/img/api.png' %}"
                             class="img-fluid"
                             alt="l2j_server_api">
                    </figure>
                </a>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</nav>
